<div class="modal messageModal" ng-controller="MessageModalController">
  <ion-header-bar class="bar bar-header bar-positive shopBar">
  <h1 class="title">{{title}}</h1>
  <button class="button button-clear button-primary" ng-click="cancel()">Cancel</button>
  </ion-header-bar>
  <ion-content>
  <div class="msg item item-thumbnail-left">
    <img src="{{img}}"><h3>{{name}}</h3>
    <div class="card">
      <div class="item item-text-wrap">
        {{message}}
      </div>
    </div>
  </div>
  <div class="msg item item-thumbnail-left">
    <img src="{{img}}"><h3>{{name}}</h3>
    <div class="card">
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.a
        This is a basic Card which contains an item that has wrapping text.a
        aaa
        This is a basic Card which contains an item that has wrapping text.a
        This is a basic Card which contains an item that has wrapping text.a
        This is a basic Card which contains an item that has wrapping text.a
        This is a basic Card which contains an item that has wrapping text.a
        This is a basic Card which contains an item that has wrapping text.a
        This is a basic Card which contains an item that has wrapping text.a
        This is a basic Card which contains an item that has wrapping text.a
      </div>
    </div>
  </div>
  </ion-content>
</div>
